@font-face {
    font-family: VCR;
    src: url(/fonts/VCR_OSD_MONO.ttf);
}

html {

    background-image: linear-gradient(#323233,#2b2b2c);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%, 100%;
    margin: 20px;
    font-family: "VCR";
    color: aliceblue;
}

h1{

    font-size: 72px;

}

h2, p{

    font-family:'Courier New', Courier, monospace;


}

body{

   


}

a, a:visited, a:active{

    color:aliceblue;
    font-style: italic;


}